<div class="sidebar col-md-3">

<center><a href="/modules/about this module/index/">
<img src="../../../img/introductionModuleIcon.png"/></a>


<br/>
<p><b>Connected Learning Basics</b></p><hr/>
<div style="width:80%; border-style: solid; border-width: 10px; border-color: red; margin-bottom: 10px;">
<p>Please don't pay attention to the way this sidebar looks/works. It is still a work in progress.</p></div>
<hr/></center>

<!--      {% for module in site.data.course.modules %}
       {% assign first_post = site.categories[module]|reverse|first %}
       <li class="nav-item py-2{% if page.categories[1] == module %} active{% endif %}">
         <a class="nav-link" href="{{ site.baseurl }}{{ first_post.url }}">
           {{ module }}
         </a>
       </li>
      {% endfor %}

      <hr/> -->


<ul>
{% for module in site.data.course.modules %}
{% assign first_post = site.categories[module]|reverse|first %}


{% if page.categories[1] == module %}


<li class="active" style="text-transform: uppercase;font-weight: bold;background-color: #17a2b8;}"> {{module}} </li>
	<ul style="margin-left:15px;">
		{% for post in site.categories[module] reversed %}
			<!-- <li  class="{% if post.url == page.url %}active{% endif %} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}" > -->



					{% if post.url contains "index" %}
{% else %}
				<li class="{% if post.url == page.url %}active{% endif %}">



				<a
						href="{{ site.baseurl }}{{ post.url }}">
					{{ post.title }}
				</a>
			</li>
			{% endif %}
		{% endfor %}
	</ul>

{% else %}

<li style="text-transform: uppercase;font-weight: bold;}"><a class="nav-link" href="{{ site.baseurl }}{{ first_post.url }}"> {{module}} </a></li>

{% endif %}



{% endfor %}
</ol>

<!--
<hr/>

	{% include next_module.html %}

	{% if prev %}
		<div class="pagination-section">
			<div class="title">
				Previous module:
			</div>
			<a rel="prev" class="prev" href="{{ site.baseurl }}{{ prev_post.url }}">
				{{ prev }} </a>
		</div>
		<hr />
	{% endif %}
	<ul>
		{% for post in site.categories[module] reversed %}
			<li class="{% if post.url == page.url %}active{% endif %} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
				<a
						href="{{ site.baseurl }}{{ post.url }}">
					{{ post.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
	{% if next %}
		<hr />
		<div class="pagination-section">
			<div class="title">
				Next module:
			</div>
			<a rel="next" class="next" href="{{ site.baseurl }}{{ next_post.url }}"> {{ next }}
			</a>
		</div>
	{% endif %} -->
</div>
